{% extends 'layouts/private.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {# <h2><i class="fa fa-tachometer" aria-hidden="true"></i> Escritorio</h3> #}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eos magni incidunt aperiam, odit, nesciunt repellat quam voluptate cupiditate minima quibusdam iusto molestiae necessitatibus laborum illum iste veniam ipsum rerum?</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {# <script src="{{ base_url() }}/assets/javascripts/theme.admin.js"></script> #}
{% endblock %}
